.IconList_Container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    z-index: 10;
    bottom: 1rem;
    right: 0;
    margin-right: 2rem;
}

.IconList_List {
    list-style-type: none;
    display: inline;
}

.IconList_ListItem {
    color: white;
    display: inline;
    margin: 2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

.IconList_Icon{
    transition: all .3s;
    cursor: pointer;
} 

.IconList_Icon_Blue{
    transition: all .3s;
    color: rgb(54, 178, 255);
    cursor: pointer;
}

.IconList_Icon_Green{
    transition: all .3s;
    color: rgb(99, 199, 91);
    cursor: pointer;
}

.IconList_Icon:hover, .IconList_Icon_Blue:hover, .IconList_Icon_Green:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.IconList_Span {
    visibility: hidden;
    width: 12rem;
    background-color: rgb(58, 39, 66);
    color: white;
    text-align: center;
    transition:all .3s ;
    border-radius: 6px;
    padding: .3rem 0;
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: -4rem;
    opacity: 0;
}

.IconList_ListItem:hover .IconList_Span {
    transform: translateY(3rem);
    visibility: visible;
    opacity: 1;
}