

.MainNavigation_MenuPane {
    padding-top: 10vh;
    background-color:  rgb(58, 39, 66);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-105vw);
    transform-origin: (0, 0);
    width: 40vw;
    max-width: 40rem;
    height: 100vh;
    transition: 0.6s ease-in-out;
    z-index: 1000;
}

.MainNavigation_MenuPane.active {
    transform: translateX(0); 
}

.MainNavigation_Logout {
    width: 100%;
    position: relative;
    bottom: 0;
    height: 9rem;
    color: white;
    font-weight: 600;
    font-size: 3rem;
    background-color: rgb(245, 88, 64);
    border: 1px solid rgb(245, 88, 64);
    transition: all 0.3s;
}

.MainNavigation_Logout:hover {
    color: rgb(245, 88, 64);
    background-color: white;
}