.NavButton_Checkbox {
    position: absolute;
    z-index: 3;
    top: 5vh;
    left: 5vw;
    width: 10vw;
    opacity: 0;
    height: 6vh;
}

.NavButton_Icon {
    position: absolute;
    z-index: 300;
    top: 5vh;
    left: 9vw;
    padding-bottom: 2vh; 
}

.NavButton_Icon span {
    height: 5px;
    width: 40px;
    background-color: black;
    display: block;
    margin: 5px 0px 5px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
}

.NavButton_Checkbox:checked ~ .MainNavigation_MenuPane{
    left: -5vw;
    transform: translateX(-5vw); 
}

.NavButton_OpenMenu:checked ~ .NavButton_Icon span:last-child,
.NavButton_OpenMenu:checked ~ .NavButton_Icon span:first-child {
    opacity: 0;
  }

.NavButton_OpenMenu:checked ~ .NavButton_Icon span:nth-of-type(2) {
    transform: translate(0%, 175%) rotate(-45deg);
    background-color: white;
  }
  
  .NavButton_OpenMenu:checked ~ .NavButton_Icon span:nth-of-type(3) {
    transform: rotate(45deg);
    background-color: white;
  }