
.NavButton_Icon {
    position: absolute;
    z-index: 400;
    top: 3vh;
    left: 5vw; 
    background-color: white;
    padding: 1.5rem;
    border-radius: 100%;
    transition: background-color 0.5s ease-in-out;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
}


.NavButton_Icon span {
    height: 5px;
    width: 40px;
    background-color: black;
    display: block;
    margin: 5px 0px 5px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
}

.NavButton_Icon.active {
    background-color: transparent;
    box-shadow: none;
}

.NavButton_Icon.active span:nth-of-type(2) {
    transform: translate(0%, 175%) rotate(-45deg);
    background-color:white;
  }
  
.NavButton_Icon.active span:nth-of-type(3) {
    transform: rotate(45deg);
    background-color:white;
}

  .NavButton_Icon.active span:last-child,
  .NavButton_Icon.active span:first-child{
   opacity: 0;
  }