
.AuthSubmitButton {
  background-color: rgb(58, 39, 66);
  color: white;
  border-radius: 2px;
  border: 1px solid rgb(58, 39, 66);
  display: block;
  margin: 5rem auto 1rem ;
  padding: 2rem 3rem;
  font-weight: bold;
  font-size: medium;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  min-width: 25rem;
  transition: border 0.5s, opacity 0.5s;
}

.AuthSubmitButton:hover {
  border: 1px solid white;
}

.AuthSubmitButton_appear{
  opacity:0;
}
.AuthSubmitButton_enter{
  opacity:0.2;
  transition: opacity 300ms;
}
.AuthSubmitButton_enterActive{
  opacity:1;
}

.AuthSubmitButton_exit {
  opacity: 0.5;
}

.AuthSubmitButton_exitActive {
  opacity: 0;
}
