.AuthLinkBox{
    z-index: 30;
    padding: 2.5rem 5rem;
    margin: 0 auto;
    background-color: rgb(58, 39, 66);
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.4);
    transition: all .5s ease-out;
}

.AuthLinkBox:hover {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.8);
    color: rgb(58, 39, 66);
    background-color: white;
}

.AuthLinkBox:hover .AuthLinkBox_Link {
    color: rgb(58, 39, 66);;
}

.AuthLinkBox:active {
    transform: translateY(1rem);
}

.AuthLinkBox_Link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 2.5rem;
}



/* TRANSITIONSTATES */
.Modal_enter {
  opacity: 0;
}

.Modal_enterActive {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.Modal_exit {
  opacity: 0.5;
}

.Modal_exitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}