.NewsFeedMenuDropDown_Container {
    position: relative;
    display: inline-block;
    transition: all 0.3s;
}

.NewsFeedMenuDropDown_Button {
    background-color: rgb(58, 39, 66);
    color: white;
    height: 5rem;
    width: 16rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.NewsFeedMenuDropDown_ContentBox {
    display: block;
    opacity: 0;
    position: absolute;
    top: -100rem;
    border-radius: 2px;
    background-color: rgb(58, 39, 66);
    min-width: 160px;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.NewsFeedMenuDropDown_Span {
    border-top: 1px solid rgb(235, 235, 245, 0.5);
    color: white;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}

.NewsFeedMenuDropDown_Span:hover {
    background-color: white;
    color: rgb(58, 39, 66);
}

.NewsFeedMenuDropDown_Container:hover .NewsFeedMenuDropDown_ContentBox{
    animation: comeIn 0.3s ease-out both;
}

.NewsFeedMenuDropDown_Container:hover .NewsFeedMenuDropDown_Button{
    background-color: rgb(54, 178, 255);
    border-radius: 2px;
}

.NewsFeedMenuDropDown_Span:active {
    background-color: rgb(58, 39, 66);
    color: white;
}

@keyframes comeIn {
    0% { top: 0; opacity: 0.1;}
    75% { top: 4rem; opacity: 0.8;}
    100% { top: 5rem; opacity: 1;}
}
