.ProfileHeaderContainer {
    margin: 60rem auto 3rem;
    background-color: salmon;
    width: 80%;
    height: 100%;
}





.ProfileHeader_ImageBox {
    display: block;
    height: 50rem;
    width: 100%;
    top:0;
    right: 0;
    z-index: -1;
}

.ProfileHeader_Image:hover + .ProfileHeader_Label {
    visibility: visible;
    transition: all .4s ease-out;
    transform: translateX(30rem);
    opacity: 1;
}

.ProfileHeader_BackgroundImage {
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.ProfileHeader_Image {
    position: fixed;
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    top: 20rem;
    left: 10rem;
}

.ProfileHeader_Label {
    position: fixed;
    top: 35rem;
    left: 11rem;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}


.ProfileHeader_LabelSpan {
opacity: 0.9;
}





.ProfileHeader_IconBox {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    min-height: 10rem;
    padding-left: 35rem;
    display: flex;
    justify-content: space-evenly;
}

.ProfileHeader_Icon {
    height: 5rem;
    width: auto;
    color: black;
    margin: auto 0;
}

.ProfileHeader_Icon:hover {
    transform: scale(1.2);
    transition: all .3s;
}